body{
    background-color: #17F99C;
    
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #154360;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8%;
  }
  h1{
    text-align: center;
    color: #154360;
  }
  
  .myCoins {
    width: 90%;
    margin-top: 20px; 
    color: #17F99C;
    font-size: 1.5rem;
    justify-content: center;
  }

  p{
    color: #17F99C;
  }
  
  input, select {
    padding: 15px 10px;
    outline: none;
    width: 80%;
    margin-bottom: 20px; 
  }
  
  #btn-buscar {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: #17F99C;
    font-size: 1.4rem;
    outline: none;
  }
  
  #btn-buscar:hover {
    cursor: pointer;
    background-color: #17d4de;
  }
  #myChart { 
    width: "400";
    height:"200";
    background-color: #f0f8ff;
    
  }